$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

.input {
  label {
    font-weight: 500;
  }
  input {
    display: block;
    width: 343px;
    height: 44px;
    border: 1px solid #3C3A3A;
    border-radius: 10px;
    margin-bottom: 14px;
    color: #2C2828;
    font: 500 1rem $font;
    text-indent: 12px;
    outline: none;
  }
}