.logout {
  display: flex;
  flex-direction: column;
  &--main {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 65px;
    align-items: center;
    font-size: 2.125rem;
    font-weight: 600;
    padding: 62px 38px 66px 55px;
    color: #362D2D;
  }
}