$background-color: #222;
$text-color: #fff;

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
}

p {
  opacity: 0.8;
}
