.signup--banner {
  width: 1208px;
  height: 634px;
  background-image: url("/src/assets/pics/red-bricks.png");
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  label {
    color: white;
    font-weight: 500;
  }
  input {
    display: block;
    width: 343px;
    height: 44px;
    border: 1px solid #3C3A3A;
    border-radius: 10px;
    margin-bottom: 14px;
  }

}