$gallery-background: #191515cc;

.gallery {
  padding: 2rem 1.4rem;
  background: var(--black);

  display: flex;
  flex-direction: column;
  font-size: 1.25rem;

  &--main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    margin: 10px;
    padding: 10px;
    background-color: $gallery-background;
    color: white;
    transition: opacity 0.1s;
    &:hover {opacity: 0.9}
    &:active {opacity: 0.8}
    @media (max-width: 600px) {
      display: none;
    }
  }

  &--image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 6px;
    cursor: pointer;
    background: $gallery-background;
    transition: opacity 0.1s;
    &:hover {opacity: 0.9}
    &:active {opacity: 0.8}
  }

  &--index {
    margin-top: 10px;
    padding: 10px;
    background-color: $gallery-background;
    color: white;
  }

  &--list {
    margin-top: 50px;
    display: flex;
    justify-items: center;
    gap: 10px;

    &_member {
      width: 50px;
      border-radius: 6px;
      transition: opacity 0.1s;
      cursor: pointer;
      background-color: $gallery-background;
      &:hover {opacity: 0.9}
      &:active {opacity: 0.8}
    }
  }
}
