.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 283px;
  height: 385px;
  border: 1px solid #15141459;
  border-radius: 11px;
  font-weight: 500;
  padding: 11px 16px 47px 16px;
  h1 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 12px;
  }
  p {
    font-size: 0.688rem;
    font-weight: 400;
    margin-bottom: 7px;
  }
  u {
    cursor: pointer;
    transition: opacity;
    &:hover {opacity: 0.9;}
    &:active {opacity: 0.8;}
  }
  &--image-wrapper {
    position: relative;
    width: 250px;
    height: 182px;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  &--image {
    object-fit: cover;
    border-radius: inherit;
    width: 100%;
    height: 100%;
  }
  &--buttons-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 100%;
    svg {
      margin-left: 7px;
      position: absolute;
      top: 47%;
      z-index: 20;
      cursor: pointer;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      height: 100%;
      width: 28px;
      background: #D9D9D91A;
      opacity: 0;
      transition: opacity 0.1s;
      &:hover {opacity: 0.9}
      &:active {opacity: 1}
    }
  }
  &--favorite {
    position: absolute;
    top: 10px;
    left: 8px;
    cursor: pointer;
    transition: filter 0.1s;
    &:hover {
      filter: brightness(0.9);
    }
    &:active {
      filter: brightness(0.8);
    }
  }
  &--condition {
    position: absolute;
    top: 5px;
    right: 5px;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    p {display: none;}
    svg {width: 30px}
    &_hovered {
      p {display: inline; padding-top: 9px}
      padding: 0 6px 0 6px;
      border-radius: 18px;
      gap: 0.5rem;
      text-wrap: none;
      width: max-content;
      justify-content: space-between;
    }
  }
  &--info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1 {
      text-align: start;
      max-width: 172px;
    }
    &-set {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      svg {
        display: inline;
        padding: 0 2px 2px 0;
      }
    }
  }
  &--link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    border-radius: 0 0 11px 11px;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: filter 0.1s, background 0.1s, color 0.1s;
    h1 {margin-bottom: 0;}
    &:hover {
      background: #FFD540;
      color: #2F2929;
    }
    &:active {filter: brightness(0.9);}
  }
  &--edit {
    position: absolute;
    width: 15px;
    top: 11px;
    right: 30px;
    transition: opacity 0.1s;
    cursor: pointer;
    &:hover {opacity: 0.9}
    &:active {opacity: 0.8}
  }
  &--delete {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: opacity 0.1s;
    cursor: pointer;
    color: #D44D5C;
    &:hover {opacity: 0.9}
    &:active {opacity: 0.8}
  }
}

html[class='dark'] {
  .cell {
    border: none;
    &--link {
      &:hover {background: white}
      &:active {background: white}
    }
  }
}