$legocy-yellow: #FFD540;
$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1;
  //background: lightblue;

  img {
    cursor: pointer;
    transition: opacity 0.1s;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 0.8;
    }
  }
}

.header--group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  height: 55px;
  z-index: 1;
  //background: lightpink;

  button {
    margin: 0 4%;
    padding: 0 10px 0 10px;
    width: 179px;
    height: 38px;
    background: $legocy-yellow;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.1s;
    font: 500 1.25rem $font;
    &:hover {
      background: #f5cc3c;
    }
    &:active {
      background: #ecc439;
    }
    @media (max-width: 600px) {
      height: 64px;
      margin-left: 0;
    }
  }
}

.header--logo {
  margin: 0;
  @media (max-width: 600px) {
    display: none;
  }
}

.header--searchbar {
  position: relative;
  flex: 1;
  display: flex;

  input {
    background: #F2F2F2;
    width: 120px;
    flex: 1;
    border: none;
    border-radius: 12px;
    outline: none;
    padding: 8px 40px 8px 18px;
    color: #00000075;
    font: 500 1.25rem $font;
    &::placeholder {
      color: #00000075;
    }
    @media (max-width: 600px) {
      height: 64px;
    }
  }

  img {
    position: absolute;
    top: 12px;
    right: 10px;
    @media (max-width: 600px) {
      top: 24px;
    }
  }
}

.header--map {
  margin-left: 4%;
  @media (max-width: 600px) {
    display: none;
  }
}

.header--chat {
  position: relative;
  margin: 0 6%;
  min-width: 28px;
  div {
    background: $legocy-yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -12px;
    min-width: 17px;
    min-height: 17px;
    font-size: 0.625rem;
  }
  @media (max-width: 600px) {
    display: none;
  }
}

.header--user {
  position: relative;
  width: 29px;
  min-width: 29px;
  aspect-ratio: 1;
  div {
    background: white;
    position: absolute;
    z-index: 5;
    top: 50px;
    right: 0;
    border-radius: 12px 0 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 18px 29px;
    box-shadow: -4px 3px 10px 0px #00000073;
  }
  p {
    font-size: 1.5rem;
    cursor: pointer;
    white-space: nowrap;
    transition: opacity 0.2s;
    &:hover {opacity: 0.75}
    &:active {opacity: 0.5}
  }
  img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 600px) {
    margin-left: 4%;
    min-width: 64px;
  }
}