$legocy-yellow: #FFD540;
$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 21;
  //background: lightblue;

  img {
    cursor: pointer;
    transition: opacity 0.1s;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 0.8;
    }
  }

  svg {
    cursor: pointer;
  }
}

.header--group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  height: 55px;
  z-index: 1;
  //background: lightpink;

  button {background: $legocy-yellow}
}

.header--logo {
  margin: 0;
  //@media (max-width: 700px) {
  //  display: none;
  //}
}


.header--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 308px;
  margin-left: 4%;
}

.header--wiki {
  width: 24px;
  min-width: 24px;
  &:hover path {
    stroke: #FFD540;
  }
}

.header--chat {
  position: relative;
  min-width: 25px;
  &:hover path {
    fill: #FFD540;
  }
  div {
    background: $legocy-yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -12px;
    min-width: 17px;
    min-height: 17px;
    font-size: 0.625rem;
    color: black;
  }
  @media (max-width: 410px) {
    display: none;
  }
}

.header--collection {
  width: 30px;
  min-width: 30px;
  &:hover path {
    fill: #FFD540;
    stroke: #FFD540;
  }
}

.header--user {
  position: relative;
  width: 22px;
  min-width: 22px;
  aspect-ratio: 1;
  &:hover path {
    stroke: #FFD540;
  }
  &-menu {
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 12px 0 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 18px 29px;
    box-shadow: -4px 3px 10px 0px #00000073;
    &_theme {
      align-self: center;
      width: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    img {
      max-width: 30px;
      pointer-events: none;
    }
  }
  p {
    font-size: 1.5rem;
    cursor: pointer;
    white-space: nowrap;
    transition: opacity 0.2s;
    &:hover {opacity: 0.75}
    &:active {opacity: 0.5}
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.fill-paths {
  path {
    fill: #FFD540;
  }
}

.fill-strokes {
  path {
    stroke: #FFD540;
  }
}