.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: black;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  z-index: 2;
}

.resizer.isResizing {
  background: #FFD540 !important;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

html[class='dark'] {
  .resizer {background: white;}
}
