.review {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: -1px 1px 10px 2px rgba(82, 82, 82, 0.15);
  border-radius: 11px;
  font-weight: 500;
  padding: 1rem;
  gap: 10rem;

  &_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem
  }

  &--author {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &_avatar {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &--rating {
    padding-top: 0.5rem;
  }
}