#portal_root {
  & > * {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 22;

    background-color: rgba(0, 0, 0, 0.8);
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cccccc;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html[class="dark"] {
  color: #E6E6E6;
  background-color: #191919;
  .iconfills path {fill: #F9F9F9;;}
  .iconstrokes path {stroke: #F9F9F9;}
}

.styled-select select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

.fillsrose path {fill: #FFD0D0}

.fillswhite path {fill: white}
