.scrollarrow {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: black;
  position: fixed;
  bottom: 18px;
  left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.1s;
  cursor: pointer;
  z-index: 20;
  &:hover {opacity: 0.9;}
  &:active {opacity: 0.8;}
  svg {
    position: absolute;
    width: 18px;
    path {stroke: white;}
  }
}

html[class='dark'] {
  .scrollarrow {
    background: white;
    svg path {stroke: black;}
  }
}